.App {
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.mem-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mem {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 200px;
}

.mem img {
  max-width: 100%;
  height: auto;
}
